html,body{margin: 0;padding: 0;height: 100%}
body{background: url("../images/bg.jpg") repeat;font: 100% "Arial Narrow";overflow: hidden}
#wp{width: 100%;height: 100%;background: url("../images/zh.png") top no-repeat;    background-size: contain;  }
* {
  text-decoration: none;
}
.fix:after{display:block;content:'';clear:both;visibility:hidden}

:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}
h3{color: #003300;width: 100%; text-align: center;top: 30%;position: absolute;font-size: 50px;}
h2{color: #000; font-size: 30px; text-align: center;margin: 0;padding: 120px 10px 0 10px;}
.poker{
    width: 3.4rem;
    height: 5.1rem;
    position: absolute;
    background-color: #fff;
    background-image: url("../images/wb.png");
    -webkit-border-radius: 15px;
    -webkit-box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.5), 0 0 3px #966432;
    -webkit-transform-origin:10% 110%;
}
.poker .shape:nth-of-type(1){
    position: absolute;
    top: 1.2rem;
    left: .2rem;
    width: .4rem;
    height: .6rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.poker .shape:nth-of-type(2){
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 1rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.poker .shape:nth-of-type(3){
    position: absolute;
    bottom:1.2rem;
    right: .2rem;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    width: .4rem;
    height: .6rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.poker.type1,.poker.type3{
    color: #a00;
}
.poker.type2,.poker.type4{
    color: #222;
}
.poker.type1  .shape{
    background-image: url("../images/hongtao.png");
}
.poker.type2  .shape{
    background-image: url("../images/heitao.png");
}
.poker.type3  .shape{
    background-image: url("../images/fangkuai.png");
}
.poker.type4  .shape{
    background-image: url("../images/meihua.png");
}
.item{
    position: absolute;
    bottom: 72%;
    left: 50%;
    margin-left: -1.7rem;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    opacity: 0;
    
}
.item:nth-of-type(1){
    -webkit-animation-delay:3.5s;
}
.item:nth-of-type(2){
    -webkit-animation-delay:4s;
}
.item:nth-of-type(3){
    -webkit-animation-delay:4.5s;
}
.poker:before{
    display: block;
    position: absolute;
    left: .15rem;
    top: .1rem;
}
.poker:after{
    position: absolute;
    right: .15rem;
    bottom: .1rem;
    -webkit-transform: rotate(180deg);
}
.item:nth-of-type(1) .poker{
    -webkit-transition: -webkit-transform .6s;
    -webkit-transform:rotate(-2deg);
}

.item:nth-of-type(3) .poker{
    -webkit-transition: -webkit-transform .6s;
    -webkit-transform:rotate(2deg);
}
.no{display: none;}
.nullClass .no{
    display: block;position: absolute;width: 100%;font-size: 100px;width: 100%;text-align: center;top: 50%;margin-top: -50px;color: #111
}
.nullClass .poker:before,.nullClass .poker:after{
display:none;
}
.nullClass .shape{
    display: none;
}

.open .item:nth-of-type(1) .poker{
    -webkit-transform:rotate(-12deg);
}
.open .item:nth-of-type(3) .poker{
    -webkit-transform:rotate(12deg);
}
#loading{background-image:url('../images/load.gif');height:64px;width: 64px;position: absolute;left: 50%;top: 40%;margin-left: -32px;background-size: contain; }

.poker.num1:before,.poker.num1:after{content: "A"}
.poker.num2:before,.poker.num2:after{content: "2"}
.poker.num3:before,.poker.num3:after{content: "3"}
.poker.num4:before,.poker.num4:after{content: "4"}
.poker.num5:before,.poker.num5:after{content: "5"}
.poker.num6:before,.poker.num6:after{content: "6"}
.poker.num7:before,.poker.num7:after{content: "7"}
.poker.num8:before,.poker.num8:after{content: "8"}
.poker.num9:before,.poker.num9:after{content: "9"}
.poker.num10:before{content: "10";left: .01rem;}
.poker.num10:after{content: "10";right: .01rem;}
.poker.num11:before,.poker.num11:after{content: "J"}
.poker.num12:before,.poker.num12:after{content: "Q"}
.poker.num13:before,.poker.num13:after{content: "K"}

.time{
    font-size:90px;
    width: 100%;text-align: center;
    color: #fff;
    position: absolute;
    top: 32%;
    z-index: 100;
    opacity: 0;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    pointer-events:none;
}

.time:nth-of-type(1){
}
.time:nth-of-type(2){
    -webkit-animation-delay: 1s;
}
.time:nth-of-type(3){
    -webkit-animation-delay: 2s;
}
.time:nth-of-type(4){
    -webkit-animation-delay: 3s;
}
#inputBox{
    width: 90%;
    padding: 2.4rem 5% 0 5%;
    position: absolute;
    z-index: 9999
}
#start{
    background: #333;
    border: 10px dotted #fff;
    border-radius: 50px;
    color: #fff;
    display: block;
    font-family: georgia;
    font-size: 40px;
    height: 80px;
    line-height: 80px;
    text-decoration: none;
    width: 80px;
    text-align: center;
    margin: 30px auto;
}
input{
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    line-height: 1.2;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#ad{
    position: absolute;
    bottom: 12px;
    width: 320px;
    text-align: center;
    font-size: 22px;line-height: 34px;
    left: 50%;
    -webkit-transform: translateX(-160px)
}
.wb{display: block;}
#showAD{display: inline-block;color: #000;margin-right: 5px;height: 34px;vertical-align: top;}
.face{background-image: url("../images/xppf.jpg");background-size: contain;width: 34px;height: 34px;border-radius: 17px;display: inline-block;vertical-align: top;}
.weibo{color: #000;margin-left:5px;height: 34px;vertical-align: top;display: inline-block;margin-right: 25px;}
/* animate */
.zoomInDown {
    -webkit-animation-name: zoomInDown;
}
@-webkit-keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -3000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    80% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    100%{
        opacity: 1;
    }
}
.timesOut {
    -webkit-animation-name: timesOut;
}
@-webkit-keyframes timesOut {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(10,10,10);
    }

    40% {
        opacity: 1;
        -webkit-transform: scale3d(1.5,1.5,1.5);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
    }
    100%{
        opacity: 0;
        -webkit-transform: scale3d(.5,.5,.5);
    }
}